@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
:root {
    --logo-font: "Bilbo Swash Caps";
    --title-font: "Montserrat", sans-serif;
    --text-font: "Roboto Slab", serif;
    --brand-color: #FED136;
    --title-color: #222;
    --text-color: #777;
    --second-title-color: #FFF;
    --bg-color: #222;
    --placeholder-color: #BBB;
    --form-border-color: #CCC;
    --button-color: #FFF;
}

body {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 14px;
}
.container {
    width: 942px;
    margin: 0 auto;
    padding: 0;
}

/*header*/
.header {
    padding: 44px 0;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-family: var(--logo-font);
    color: var(--brand-color);
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 1.3px;
}
.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}
.header-link {
    color: var(--brand-color);
    font-weight: 400;
    line-height: 41px;
    padding: 14px 15px;
    text-transform: uppercase;
}

/*services*/
.services {
    padding: 65px 0 119px;
}
.services-container {
    display: flex;
    flex-direction: column;
}
.services-title {
    color: var(--title-color);
    font-size: 40px;
    line-height: 75px;
    letter-spacing: -1px;
    margin-bottom: 87.5px;
    text-align: center;
    text-transform: uppercase;
}
.services-list {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 56px;
}
.services-vector {
    border: 3px solid var(--brand-color);
    fill: var(--brand-color);
    width: 38px;
    height: 38px;
    padding: 13px;
    border-radius: 100%;
}
.services-headline {
    color: var(--title-color);
    font-size: 18px;
    line-height: 75px;
    letter-spacing: -0.45px;
}
.services-desc {
    font-family: var(--text-font);
    color: var(--text-color);
    font-weight: 400;
    letter-spacing: -0.35px;
}

/*contact*/
.contact {
    padding: 91.5px 0 115px;
    background-color: var(--bg-color);
}
.contact-container {
    display: flex;
    flex-direction: column;
}
.contact-title {
    color: var(--second-title-color);
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -1px;
    margin-bottom: 116px;
    text-align: center;
    text-transform: uppercase;
}
.contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contact-wrap {
    gap: 28px;
    display: flex;
    justify-content: center;
}
.contact-wraper {
    gap: 28px;
    display: flex;
    flex-direction: column;
}
.contact-form-input {
    border: 1px outset var(--form-border-color);
    font-family: var(--title-font);
    width: 457px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    padding: 13px 19px 22px;
    letter-spacing: -0.35px;
    text-transform: uppercase;
}
.contact-form-input::placeholder {
    color: var(--placeholder-color);
}
.contact-form-textarea {
    border: 1px outset var(--form-border-color);
    font-family: var(--title-font);
    width: 458px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    padding: 14px 22px;
    letter-spacing: -0.35px;
    resize: none;
    text-transform: uppercase;
}
.contact-form-textarea::placeholder {
    color: var(--placeholder-color);
}
.contact-form-button {
    color: var(--button-color);
    font-family: var(--title-font);
    background-color: var(--brand-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    padding: 18px 33px 28px;
    margin: 27px auto 0;
    cursor: pointer;
    text-transform: uppercase;
}